<%# need ['coolors', 'colors'] - для расцвечивания фона. в :locals=>:colors -%>
<div style="border: dotted 1px grey; margin: 4px; margin-bottom:6px; padding: 2px;">
 <div style="background-color:#cccccc; font-weight: bold;"><%= comments.title -%></div>
 <%= comments.text %>
 <div style="font-size:70%;">
  <%= link_to 'link', blog_comment_path(comments.post, comments) -%>
  <%= link_to 'comment', new_blog_comment_path(comments.post, comments) -%>
 </div>
 <%= render :partial=>'comments', :collection=>comments.childs %>
</div>
