!!!
 %html
  %head
   %title= @title
   = auto_discovery_link_tag(:rss, rss_lib_site_url)
   = javascript_include_tag "prototype"
   = stylesheet_link_tag "main"
  %body
   .main_menu
    = menu_bar lib_menu
   - if @submenu
    .submenu
     = menu_bar @submenu
   - if flash && flash.size
    .flash
     - if flash[:notice]
      .notice
       = h(flash[:notice])
     - if flash[:error]
      .error
       = h(flash[:error])
   .content
    = yield
   .footer
