<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://wwww.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
  <title><%= @title %></title>
  <%= javascript_include_tag "prototype" %>
  <%= yield :tinymce %>
  <%= javascript_include_tag "scriptaculous.js?load=effects,controls" %>
  <%#= javascript_include_tag "effects" %> 
  <%#= javascript_include_tag "controls" %>
  <%= yield :tinymce_init %>
  <%= stylesheet_link_tag "main" %>
 </head>
 <body>
  <div class="main_menu">
   <% unless current_page?( :controller=>'User', :action=>'login') -%>
    <span style="display:block;float:right;">
     <% unless take_login.logged? then %>
      <% session[:return_to] = request.request_uri unless current_page?( :controller=>'User', :action=>'login' ) -%>
      <%= link_to( 'Login', :controller=>'User', :action=>'login' ) %>
     <% else %>
      <%= link_to_unless_current( take_login.identity.name, :controller=>'User', :action=>'show', :id=>take_login.identity.id ) if take_login.logged? -%>
      <%= link_to "Logout", :controller=>'User', :action=>'logout' %>
     <% end %>
    </span>
   <% end %>
   <%= menu_bar main_menu %>
  </div>
  <% if @submenu then %>
   <div class="submenu">
    <%= menu_bar @submenu -%>
   </div>
  <% end -%>
  <% if flash && flash.size -%>
   <div class="flash">
    <% if flash[:notice] -%>
     <div class="notice">
      <%= h(flash[:notice]) -%>
     </div>
    <% end -%>
    <% if flash[:error] -%>
     <div class="error">
      <%= h(flash[:error]) -%>
     </div>
    <% end -%>
   </div>
  <% end -%>
  <div class="content">
   <%= yield %>
  </div>
  <div class="footer"></div>
 </body>
</html>
