<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://wwww.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
  <title><%= @title %></title>
  <%= javascript_include_tag "prototype" %>
  <%= yield :tinymce %>
  <%#= javascript_include_tag "scriptaculous" %>
  <%= javascript_include_tag "effects" %> 
  <%= javascript_include_tag "controls" %>
  <%= yield :tinymce_init %>
  <%= stylesheet_link_tag "main" %>
 </head>
 <body>
  <div class="main_menu">
   <span style="display:block;float:right;">
    <%= render :partial=>'user/logon', :locals=>{ :logon=>@logon } %>
   </span>
   <%= link_to_unless_current "Home", :controller=>"Site", :action=>"index" %>
   <%= link_to_unless_current "Users", :controller=>"User", :action=>"index" %>
   <%= link_to_unless_current "Blog", :controller=>"Blog", :action=>"index" %>
   <%= link_to_unless_current "SiteConfig", :controller=>'Config', :action=>'index'  %>
  </div>
  <% if @submenu then %>
   <div class="submenu">
    <% @submenu.each do | item | %>
     <%= link_to_unless_current item.delete(:text), item %>
    <% end %>
   </div>
  <% end -%>
  <% if flash && flash.size then %>
   <div class="flash">
    <% if flash[:notice] then %>
     <div class="notice">
      <%= h(flash[:notice]) -%>
     </div>
    <% end %>
    <% if flash[:error] then %>
     <div class="error">
      <%= h(flash[:error]) -%>
     </div>
    <% end %>
   </div>
  <% end -%>
  <div class="content">
   <%= yield %>
  </div>
  <div class="footer"></div>
 </body>
</html>
