<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://wwww.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
  <title><%= @title %></title>
  <%= auto_discovery_link_tag(:rss, rss_path) %>
  <%= javascript_include_tag "prototype" %>
  <%#= javascript_include_tag "scriptaculous.js?load=effects,controls" %>
  <%#= javascript_include_tag "effects" %> 
  <%#= javascript_include_tag "controls" %>
  <%= stylesheet_link_tag "main" %>
 </head>
 <body>
  <div class="main_menu">
   <% unless current_page?( login_users_path ) -%>
    <span style="display:block;float:right;">
     <% unless current_user.logged? then %>
      <% session[:return_to] = request.request_uri unless current_page?( login_users_path ) -%>
      <%= link_to( 'Login', login_users_path ) %>
     <% else %>
      <%= link_to_unless_current( current_user.identity.name, user_path(current_user.identity.id) ) if current_user.logged? -%>
      <%= link_to "Logout", session_index_path, :method=>'delete' %>
     <% end %>
    </span>
   <% end %>
   <%= menu_bar main_menu %>
  </div>
  <% if @submenu then %>
   <div class="submenu">
    <%= menu_bar @submenu -%>
   </div>
  <% end -%>
  <% if flash && flash.size -%>
   <div class="flash">
    <% if flash[:notice] -%>
     <div class="notice">
      <%= h(flash[:notice]) -%>
     </div>
    <% end -%>
    <% if flash[:error] -%>
     <div class="error">
      <%= h(flash[:error]) -%>
     </div>
    <% end -%>
   </div>
  <% end -%>
  <div class="content">
   <%= yield %>
  </div>
  <div class="footer"></div>
 </body>
</html>
