<fieldset>
 <legend>блогеры такие блогеры</legend>
 <div>
  <%= form.text_field :title, :style=>'width: 100%;' %>
 </div>
 <div>
  <%= form.text_area :raw_text, :style=>'width:100%;' %>
 </div>
 <div>
  <%= form.text_field :name -%>
 </div>
 <div>
  <%= form.hidden_field :identity_id, :style=>'width:100%;' -%>
 </div>
</fieldset>
<%= form.submit "Отправить" %>
