<div class="post">
 <div class="header"><span class="date"><%= post.created_at -%></span><%= post.title.blank? ? '&nbsp;' : post.title -%></div>
 <%= post.text -%>
 <div class="links">
  <span><%= link_to_unless_current '<noindex>Послать</noindex>', new_blog_comment_path(post) -%>&nbsp;</span>
  <% if post.comments.count > 0 %>
   <%= link_to "<noindex>#{ post.comments.count } засланцев</noindex>", blog_comments_path(post) -%>
  <% end %>
  <% if post.name.blank? then %>
   <%= link_to "<noindex>Link</noindex>", blog_path(post) -%>
  <% else %>
   <%= link_to "<noindex>PermaLink</noindex>", blog_path( :id=>post.name ) -%>
  <% end %>
 </div>
</div>
