<div class="post">
 <div class="header"><span class="date"><%= post.created_at -%></span><%= post.title.blank? ? '&nbsp;' : post.title -%></div>
 <%= post.text -%>
 <div class="links">
  <span><%= link_to_unless_current 'Послать', :controller=>'comments', :blog_id=>post, :action=>:new -%>&nbsp;</span>
  <% if post.comments.count > 0 %>
   <%= link_to "#{ post.comments.count } засланцев", blog_comments_path(post) -%>
  <% end %>
  <% if post.name.blank? then %>
   <%= link_to "Link", blog_path(post) -%>
  <% else %>
   <%= link_to "PermaLink", named_blog_path( :name=>post.name) -%>
  <% end %>
 </div>
</div>
