<fieldset>
  <%= error_messages_for :user -%>
 <legend>Параметры персоны</legend>
  <div>
   <%= form.label :username, "Логин" %>
   <%= form.text_field :username -%>
  </div>
  <div>
   <label for="name">Имя</label>
   <%= form.text_field :name %>
  </div>

  <div>
   <%= form.label :password, "Пароль" %>
   <%= form.password_field :password %>
  </div>
  <div>
   <%= form.label :password_confirmation, "Подтверждение пароля" %>
   <%= form.password_field :password_confirmation %>
  </div>
 <% end %>
</fieldset>
