.post
 .header
  %span.date= post.created_at
  = post.title.blank? ? '&nbsp;'.html_safe : post.title.html_safe
 = post.text.to_s.html_safe
 .links
  %span
   = link_to_unless_current '<noindex>Послать</noindex>'.html_safe, new_blog_comment_path(post)
   &nbsp;
  - if post.comments.count > 0
   = link_to "<noindex>#{ post.comments.count } засланцев</noindex>".html_safe, blog_comments_path(post)
  - if post.name.blank?
   = link_to "<noindex>Link</noindex>".html_safe, blog_path(post)
  - else
   = link_to "<noindex>PermaLink</noindex>".html_safe, blog_path( :id=>post.name )
