!!!
%head
 %title= @title
 = auto_discovery_link_tag(:rss, rss_path)
 = javascript_include_tag "application"
 = stylesheet_link_tag "application"
 = csrf_meta_tag
%body
 .main_menu
  - unless current_page?( new_session_path )
   %span{:style=>"display:block;float:right;"}
    - unless false #User.logged?
     - session[:return_to] = request.url unless current_page?( new_session_path )
     = link_to( 'Login', new_session_path )
    - else
     = link_to_unless_current( User.current.name, user_path(User.current.id) ) if User.logged?
     = link_to "Logout", session_index_path, :method=>'delete'
  -# = render :partial => "shared/menu"
  .submenu
   = yield :submenu
 = render :partial => "shared/menu"
 #flash_place
  - flash.each do |key, value|
   .flash{ :class => key}= value
 .content
  = yield
 .footer
